In [164]:
import math

def fatorial(n):
    '''Funcao para calcular o fatorial de um número "n".'''
    if n == 0:
        return 1
    else:
        return n * fatorial(n-1)

def taylor(x,k):
    '''k-ésimo fator da série de taylor para o valor "x"'''
    return ((-1)**k)*(x**(1+2*k)) / math.factorial(1+2*k)
  
def n_taylor(x, n=50, p=0.0000000000000000000000000000000000001):
    '''Cálcula a série de taylor até atingir numero maximo de itertação ou precisão mínima'''
    res = [0]
    for i in range(n):
        res.append( taylor(x,i) )
        print(res[-1])
        if math.fabs(res[-2] - res[-1]) < p:
            break
    return sum(res)

def degree_to_rad(degree):
    '''Conversao de graus para raiano'''
    return degree * math.pi / 180

In [168]:
graus = float( input("Entre com um ângulo em graus: ") )
precisao = float( input("Entre com a precisao") )
rad = degree_to_rad(graus)
n_taylor( x=rad,p=precisao )

Entre com um ângulo em graus: 30
Entre com a precisao0.0000000000000000000000001
0.5235987755982988
-0.02392459620393504
0.0003279531944286708
-2.1407197692357955e-06
8.151256657387576e-09
-2.031557539903064e-11
3.5702758612702185e-14
-4.6610066605152965e-17
4.697946471622608e-20
-3.765990348636185e-23
2.4582562777354316e-26
-1.3319069487122942e-29

0.49999999999999994

In [222]:
def fibonacci_n(n):
    a, b = 0, 1
    for i in range(n):
        a , b = a + b,  a
    return a

In [229]:
fibonacci_n(5)

5

In [257]:
def fibonacci_v(v):
    a, b  = 0, 1
    b = 1
    while a < v:
        a , b = a + b,  a
        print(b)
    return a if a <= v else b

fibonacci_v(7)

0
1
1
2
3
5

5

In [263]:
nome = ["teodoro" , "lara", "natalia", "rafa" ]
idade  = 25

In [272]:
d4 = [25, 5, 2018, "AULA4"]
d5 = [1, 6, 2018, "AULA5"]
d6 = [8, 6, 2018, "AULA6"]

d = [d4,d5,d6]

In [279]:
nome = "teodoro"

In [283]:
"teo " + "calvo"

'teo calvo'

In [284]:
n = len(nome)
" " * (80 - n) + nome

'                                                                         teodoro'

In [285]:
def justificativaD(x):
    n = len(x)
    txt = " " * (80-n) + x
    print(txt)


nome = ["teo", "lara", "natalia" , "rafaela", "seeeeloko"]

for i in txt:
    justificativaD(i)

                                                                             teo
                                                                            lara
                                                                         natalia
                                                                         rafaela
                                                                       seeeeloko

In [262]:
teo

['teodoro', 25]